@model IEnumerable<TeamOverCinema.Models.Movies>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<head>
<style>
.CentreButton {
    padding-top: 50px;
    text-align:center;
}
.textcolour
{
    color:white;

}

.CentreButton2 {
    padding-top: 50px;
    text-align: center;
}

div.NowShowing {
  margin: 2px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  float: left;
}

div.NowShowing:hover {
  border: 1px solid #777;
}

div.NowShowing img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 1px;
  text-align: center;
}
div.SubHeadingComingSoon {
margin-top: 10px;
}
div.ComingSoon {
  margin: 2px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.ComingSoon:hover {
  border: 1px solid #777;
}

div.ComingSoon img {
  width: 100%;
  height: auto;
}
div.Button {
    margin-top: 10px;
    padding: 20px;
}
td{
    border-width: thick;
    width: 10%;
}

.move{
    padding-top: 10px;
    text-align: center;
}
.line{
    color: white;
}
.button2 {
    color: white;
    width: 50px;
    height: 25px;
    background-color: #5459F3;
    border: none;
    padding: 30px 30px;
    text-align: center;
    transition: 1s;
    border-radius: 20px;
}

</style>
</head>
<body>
<div style="text-align:center;"><h1>Admin Page</h1></div>



<div class="move">
<div class="CentreButton">
<button class= "colors">
    <a asp-action="Create">Create New</a>
    </button>


</div>

<table class="table">
        <tbody>
        <thead>
        <tr class = "text-light">
        </tr>
    </thead>
        <tr class = "NowShowing text-light">
            <th></th>
               <hr class = "line">
            @foreach (var item in Model) {
                    if (@item.ComingSoon == false)
                    {
                        <div class = "NowShowing">
                <img src="@Html.DisplayFor(modelitem => item.MovieImg)" width="200" height="300">
                <br>@Html.DisplayFor(modelItem => item.MovieName)
                <br>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">MoviesDetails</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </div>
                    }
                }
            </tr>
       </tbody>
</table>

    <div class="SubHeadingComingSoon">
        <h3>Coming Soon: </h3>

</div>
<table class="table">
        <tbody>
        <thead>
        <tr class = "text-light">
        </tr>
    </thead>
        <tr class = "NowShowing text-light">
            <th></th>
               <hr class = "line">
            @foreach (var item in Model) {
                    if (@item.ComingSoon == true)
                    {
                        <div class = "NowShowing">
                <img src="@Html.DisplayFor(modelitem => item.MovieImg)" width="200" height="300">
                <br>@Html.DisplayFor(modelItem => item.MovieName)
                <br>@Html.DisplayFor(modelItem => item.ReleaseDate)
                <br>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </div>
                    }
                }
            </tr>
       </tbody>
</table>

<div class="CentreButton">
<button class= "colors">
        <a class="button2" href='https://localhost:44312/Events' alt='Broken Link'>Events</a>
    </button>
   
<button class= "colors">
        <a class="button2" href='https://localhost:44312/Home/AdminBookings' alt='Broken Link'>Private Bookings</a>
    </button>
    </div>
    </div>

</body>