@model IEnumerable<TeamOverCinema.Models.Movies>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movie</h1>


<head>
<style>
div.NowShowing {
  margin: 2px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  float: left;
}

div.NowShowing:hover {
  border: 1px solid #777;
}

div.NowShowing img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 1px;
  text-align: center;
}
div.SubHeadingComingSoon {
margin-top: 400px;
}
div.ComingSoon {
  margin: 2px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.ComingSoon:hover {
  border: 1px solid #777;
}

div.ComingSoon img {
  width: 100%;
  height: auto;
}
div.Button {
    margin-top: 400px;
    padding: 20px;
}
td{
    border-width: thick;
    width: 10%;
}

.move{
    padding-top: 400px;
    text-align: center;
}
.line{
    color: white;
}
</style>
</head>
<body>

<h3>Currently showing movies: </h3>


<div class="NowShowing">
  <img src="https://www.vitalthrills.com/wp-content/uploads/2021/10/batmanposter2.jpg" alt="The Batman" width="600" height="400">
  <div class="desc">The Batman - New Release</div>
</div>

<div class="NowShowing">
  <img src="https://assets-prd.ignimgs.com/2022/01/13/uncharted-poster-full-1642086040683.jpg" alt="Uncharter" width="600" height="400">
  <div class="desc">Uncharted - New Release</div>
</div>

<div class="NowShowing">
  <img src="https://m.media-amazon.com/images/M/MV5BNWM0ZGJlMzMtZmYwMi00NzI3LTgzMzMtNjMzNjliNDRmZmFlXkEyXkFqcGdeQXVyMTM1MTE1NDMx._V1_FMjpg_UX1000_.jpg" alt="Doctor Strange Multiver of Madness" width="600" height="400">
  <div class="desc">Doctor Strange Multiverse of Madness - New Release</div>
</div>

<div class="NowShowing">
  <img src="https://m.media-amazon.com/images/I/71sjqX5JayL._AC_SL1200_.jpg" alt="Sonic the Hedgehog 2" width="600" height="400">
  <div class="desc">Sonic the Hedgehog 2 - New Release</div>
</div>

<div class="NowShowing">
  <img src="https://m.media-amazon.com/images/M/MV5BZGQ1NjQyNDMtNzFlZS00ZGIzLTliMWUtNGJkMGMzNTBjNDg0XkEyXkFqcGdeQXVyMTE1NDI5MDQx._V1_.jpg" alt="Fantastic Beasts 3" width="600" height="400">
  <div class="desc">Fantastic Beasts: The Secrets of Dumbledore - New Release</div>
</div>

<div class="NowShowing">
  <img src="https://m.media-amazon.com/images/M/MV5BMDhkYmU0MzctMWEzNy00ODg1LWI3ZjAtMGZlZjkzNWVmMzVjXkEyXkFqcGdeQXVyMTM1MTE1NDMx._V1_FMjpg_UX1000_.jpg" alt="The Bad Guys" width="600" height="400">
  <div class="desc">The Bad Guys - New Release</div>
</div>

<div class="NowShowing">
  <img src="https://m.media-amazon.com/images/M/MV5BYTdiOTIyZTQtNmQ1OS00NjZlLWIyMTgtYzk5Y2M3ZDVmMDk1XkEyXkFqcGdeQXVyMTAzMDg4NzU0._V1_FMjpg_UX1000_.jpg" alt="Everything Everywhere All At Once" width="600" height="400">
  <div class="desc">Everything Everywhere All At Once - New Release</div>
</div>
<div class="move">
<p>
    <a asp-action="Create">Create New</a>
</p>

</div>
<div class="SubHeadingComingSoon">
        <h3>Movies: </h3>

</div>
<table class="table">
        <tbody>
        <thead>
        <tr class = "text-light">
        </tr>
    </thead>
        <tr class = "NowShowing text-light">
            <th></th>
               <hr class = "line">
            @foreach (var item in Model) {
                    if (@item.ComingSoon == false)
                    {
                        <div class = "NowShowing">
                <img src="@Html.DisplayFor(modelitem => item.MovieImg)" width="200" height="300">
                <br>@Html.DisplayFor(modelItem => item.MovieName)
                <br>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </div>
                    }
                }
            </tr>
       </tbody>
</table>

    <div class="SubHeadingComingSoon">
        <h3>Coming Soon: </h3>

</div>
<table class="table">
        <tbody>
        <thead>
        <tr class = "text-light">
        </tr>
    </thead>
        <tr class = "NowShowing text-light">
            <th></th>
               <hr class = "line">
            @foreach (var item in Model) {
                    if (@item.ComingSoon == true)
                    {
                        <div class = "NowShowing">
                <img src="@Html.DisplayFor(modelitem => item.MovieImg)" width="200" height="300">
                <br>@Html.DisplayFor(modelItem => item.MovieName)
                <br>@Html.DisplayFor(modelItem => item.ReleaseDate)
                <br>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </div>
                    }
                }
            </tr>
       </tbody>
</table>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="CentreButton2">

<div class="Button">
    <button>
        <a href='https://localhost:44312/Home/AdminSeatSelection' alt='Broken Link'>Seat Selection Page</a>
    </button>
    <button>
        <a href='https://localhost:44312/Home/AdminBookings' alt='Broken Link'>Seat Selection Page</a>
    </button>
</div>
</div>

</body>