@model IEnumerable<TeamOverCinema.Models.Movies>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
<style>
.footer {
position:static;
left: 0;
bottom: 0;
width: 150%;
background-color: #262626;
color: white;
text-align: center;
align-content:center;
margin-left: -325px;
padding: 3px;
margin-top: 0px;
margin-bottom: -100px;
}
.prefooter {
position:static;
left: 0;
bottom: 0;
width: 150%;
background-color: #161B22;
color: white;
text-align: center;
align-content:center;
margin-left: -325px;
padding: 3px;
margin-top: 0px;
margin-bottom: 0px;
}
div.NowShowing {
  margin: 2px;
  float: left;
  width: 180px;
  border: 1px solid #242333;
}

div.NowShowing:hover {
  border: 1px solid #777;

}

div.NowShowing img {
  width: 100%;
  height: 265px;
 
}
.table{
     margin-bottom: 100px;
}

div.desc {
  padding: 1px;
  text-align: center;
}
div.SubHeadingComingSoon {
margin-top: 100px;
}
div.ComingSoon {
  margin: 2px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.ComingSoon:hover {
  border: 1px solid #777;
}

div.ComingSoon img {
  width: 100%;
  height: auto;
}
div.Button {
    margin-top: 400px;
    padding: 20px;
}
.column {
    float: left;
    padding: 5px;
}

.middle {
    width: 32%;
}

.middle2 {
    width: 50%;
}

.left2, .right2
{
    width: 25%;
}

.left, .right { /* sets rows on left and right at 28% so they are contained at tht side within the div */
    width: 33%;
}
/* Adds style to the card div holing texts and other stuff */
.card {
    background-color: #282f4d;
    padding: 20px;
    margin-top: 20px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.move{
    padding-top: 25px;
    text-align: center;
}

.movietextcenter{
    text-align: center;
    padding-top: 7px;
    font-size: 17px;
    font-weight: bold;

}

.movietextcenter2{
    text-align: center;
    padding-top: 5px;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: -5px;

}

slidecenter{
    text-align: center;
    margin-left: 00px;
}
/*All CSS sections for Slide Show */



</style>
</head>
<body>

<h1 style="text-align: center;">Welcome to Oversight Cinemas</h1>


<div class="slideshow-container">
<div class="mySlides fade">
  <div class="numbertext"></div>
  <img src="~/lib/Images/OhomePage.png" style="width:100%;">
  <div class="text"></div>
</div>

<div class="mySlides fade">
  <div class="numbertext"></div>
  <img src="~/lib/Images/anotherRealAd 1.png" style="width: 100%;">
  <div class="text"></div>
</div>

<div class="mySlides fade">
  <div class="numbertext"></div>
  <img src="~/lib/Images/yetAnotherAd2.png" style="width:100%">
  <div class="text"></div>
</div>
</div>

<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<h2 style="text-align: center;, font-weight: bold;">Here are the movies we are currently showing: </h2>



<table class="table">
        <tbody>
        <thead>
        <tr class = "text-light">
        </tr>
    </thead>
        <tr class = "NowShowing text-light">
            <th></th>
               <hr class = "line">
            @foreach (var item in Model) {
                    if (@item.ComingSoon == false)
                    {
                        <div class = "NowShowing">
                            <a href="https://localhost:44312/Home/AdminSeatSelection"><img src="@Html.DisplayFor(modelitem => item.MovieImg)" width="600" height="400"></a>
                            <br><div class="movietextcenter">@Html.DisplayFor(modelItem => item.MovieName)</div>

                            <br>

                        </div>

                    }
                }
                <br>
            </tr>
       </tbody>
</table>

    <div class="SubHeadingComingSoon">
        <h3>Coming Soon: </h3>

</div>
<table class="table">
        <tbody>
        <thead>
        <tr class = "text-light">
        </tr>
    </thead>
        <tr class = "NowShowing text-light">
            <th></th>
               <hr class = "line">
            @foreach (var item in Model) {
                    if (@item.ComingSoon == true)
                    {
                        <div class = "NowShowing">
                <img src="@Html.DisplayFor(modelitem => item.MovieImg)" width="200" height="300">
                <br><div class="movietextcenter2">@Html.DisplayFor(modelItem => item.MovieName)
                <br>@Html.DisplayFor(modelItem => item.ReleaseDate)</div>
                <br>
                
                        </div>
                    }
                }
            </tr>
       </tbody>
</table>


<div class="push">
    <h4 class="display-4" style="text-align: center;">Highlighted promotion</h4>
    <div class="card">
            <h2 style="text-align: center;">Most Popular Promotions</h2>
            <h5 style="text-align: center;">Our club cinema mash up for 12hrs of movies and music!</h5>
            <div class="row">
              <div class="column left2">
              </div>
              <img src="https://www.betterteam.com/images/club-promoter-job-description-5946x3964-20201119.jpeg?crop=1:1,smart&width=1200&dpr=2" alt="Pappagio" style= "height:100%;width:50%;">
                <P style="text-align: center;">This event includes a full day from <b>12pm-12am</b> to overload the senses! Event will be held every <b>Friday for 2022</b> and will include <b>6hrs</b> of movie marthons and hottest movies of the day followed by <b>THE PARTY OF A LIFETIME!</b> with live DJ's and<b> 5 free drinks</b>and a variety of food and drinks to choose from. Ticket sell out quick so book now for <b>$249.99</b></P>
                <P style="text-align: center;"><b>Click here to book!</b></P>
              </div>
              <div class="column right2">
                
              </div>
            </div>
          </div>
<div class="move">
    <button class= "colors2">
        <a class="button2" 
    <p>
    <a class="textcolour" href='https://localhost:44312/Home/Promotions'>Full Promotions list</a>
    </p>
            </a>
    </button>
</div>

    <br>
    <br>
    <br>
    <br>

    <h4 style="text-align: center;">Take a look at some of the food and drinks we have to offer: </h4>

<div class="row d-flex justify-content-center">
        <div class="col-6 d-flex align-items-center justify-content-center">
    <img src= "https://i0.wp.com/www.onceuponachef.com/images/2015/06/Crazy-Good-Spicy-Italian-Popcorn.jpg?resize=760%2C505&ssl=1" style= "height:100%;width:50%;">
    </div>
<div class="col-6">
    <h2>Popcorn</h2>
    <h3>Small Popcorn $12.50</h3>


    <h3>Medium Popcorn $15.50</h3>


    <h3>Large Popcorn $20.00</h3>

</div>
</div>

<br>
<br>

<div class="move">
    <button class= "colors2">
        <a class="button2" 
    <p>
    <a class="textcolour" href='https://localhost:44312/Home/FoodandDrink'>Full food and drinks menu</a>
    </p>
            </a>
    </button>
</div>
<br>
<br>
<br>

<script>
let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 4000); // Change image every 2 seconds
}
</script>

</body>

<prefooter>
        <div class="prefooter">

        <p>Our locations: Henderson    Waiheke    Papakura    Albany    Newmarket </p>

         <a class="textcolour" href='https://localhost:44312/Home/AboutUs'>About Us</a> <a class="textcolour" href='https://localhost:44312/Home/Privacy'>Privacy</a> 
        <br>
    </div>
    </prefooter>

<footer>
        <div class="footer">
        <a href="https://www.facebook.com/"> <img border="0" alt="FaceBook" src="https://icon-library.com/images/facebook-icon-png-white/facebook-icon-png-white-20.jpg" width="50" height="50"></a>
        <a href="https://twitter.com/?lang=en"> <img border="0" alt="Twitter" src="https://cambridgebrc.nihr.ac.uk/wp-content/uploads/2020/06/twitter-icon-white-transparent-6.jpg.png" width="50" height="50"></a>
        <a href="https://www.instagram.com/"> <img border="0" alt="Instagram" src="https://www.logolynx.com/images/logolynx/s_30/304dbd9b624d6051585aac35a3677e9c.png" width="50" height="50"></a>
    </div>
    </footer>

